.listItem{
    border-bottom: black solid 1px;
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
}
.listItemColor{
    border-bottom: black solid 1px;
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    background-color:azure;
    border-radius: 5px;
}
.wrap{
    display: flex;
}
.listItem:hover{
    background-color: antiquewhite;
    
}
